In [1]:
import sqlite3
import pandas as pd

# Connexion Ã  la base SQLite
conn = sqlite3.connect('database.sqlite')

# Lecture de la table patients dans un DataFrame pandas
df = pd.read_sql_query("SELECT code, startDate, active, isAdmin, language FROM patients", conn)

# Affichage du tableau
display(df)

# Fermeture de la connexion
conn.close()

         code                 startDate  active  isAdmin language
0  patient001  2024-01-15T00:00:00.000Z       0        0       FR
1  patient002  2025-05-21T00:00:00.000Z       0        0       FR
2       admin  2025-02-01T00:00:00.000Z       0        1       EN
3  patient003  1997-06-17T00:00:00.000Z       1        0       FR
4  patient004  2025-06-17T00:00:00.000Z       1        0       FR
5  patient006  2025-05-22T00:00:00.000Z       1        0       FR
6  patient007  2025-05-07T00:00:00.000Z       1        0       DE